*.orig
*.bin
*.jpg
*.png
a.out
tr.txt
project1
*.zip
*.json
*.ccnvl
_deps
_deps/*
include/*
.DS_Store
main
build/
build_windows/
build_macos/
lcnovel
dumper
edisodes/
main3.lua
CMakeCache.txt
cmake_install.cmake
NotoSansMonoCJKsc-Regular.otf
NotoSans_SemiCondensed-Regular.ttf
*Makefile*
a.out
.DS_Store
cockshare
cockshare/*
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.a
*.o
*.d
main

scene.bin
.vscode/
.idea/
.env


android/.gradle/
android/build/
android/.cxx

android/app/src/main/assets/*
android/app/src/main/jniLibs/*
android/app/build/
*.apk
*.ap_
*.dex
*.aab
.navigation/
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/

android/local.properties
