body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}
#blockly {
  flex: 1;
  height: 100%;
}
#code {
  width: 30%;
  padding: 10px;
  background: #f5f5f5;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
#out {
  flex: 1;
  width: 100%;
  margin-top: 10px;
  white-space: pre;
  font-family: monospace;
}


.blocklySvg {
  background-color: #f0f0f0 !important;
  background-image:
    radial-gradient(#c8c8c8 1px, transparent 1px),
    radial-gradient(#c8c8c8 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

    .blocklyToolboxDiv {
      position: fixed !important;
    }